---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/sessions
    body:
      encoding: UTF-8
      string: '{"amount":{"value":100,"currency":"USD"},"returnUrl":"https://localhost/adyen/payment_sessions","reference":"R678090783","countryCode":"INVALID","lineItems":[{"amountExcludingTax":1000,"amountIncludingTax":1000,"description":"Product
        14232","id":1,"sku":"SKU-1","quantity":1}],"merchantAccount":"SpreeCommerceECOM","merchantOrderReference":"R678090783","expiresAt":"2025-07-07T15:13:40Z","additionalData":{"spree_order_id":1},"shopperName":{"firstName":"John","lastName":"Doe"},"shopperEmail":"stefania.upton@morissetteemmerich.us","shopperReference":"001","channel":"Web"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<ADYEN_API_KEY>"
      Idempotency-Key:
      - 868e08b6-172c-4533-939d-0f57736a7340
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":422,"errorCode":"200","message":"Field ''countryCode'' is
        not valid.","errorType":"validation","pspReference":"ADYEN_PSP_REFERENCE"}'
  recorded_at: Mon, 07 Jul 2025 14:13:40 GMT
recorded_with: VCR 6.3.1
