---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/sessions
    body:
      encoding: UTF-8
      string: '{"metadata":{"spree_payment_method_id":1,"spree_order_id":"R463368842"},"amount":{"value":11000,"currency":"USD"},"returnUrl":"http://www.example.com/adyen/payment_sessions/redirect","reference":"R463368842_1_1","countryCode":"US","lineItems":[{"amountExcludingTax":1000,"amountIncludingTax":1000,"description":"Product
        21211","id":1,"sku":"SKU-2","quantity":1}],"merchantAccount":"SpreeCommerceECOM","merchantOrderReference":"R463368842","expiresAt":"2025-08-14T15:00:00Z","shopperName":{"firstName":"John","lastName":"Doe"},"shopperEmail":null,"shopperReference":"guest_R463368842","recurringProcessingModel":"UnscheduledCardOnFile","shopperInteraction":"Ecommerce","storePaymentMethodMode":"enabled","channel":"Web"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<ADYEN_API_KEY>"
      Idempotency-Key:
      - '09a1ff02-e4da-4545-99c6-0081e3908d42'
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"amount":{"currency":"USD","value":11000},"channel":"Web","countryCode":"US","expiresAt":"2025-08-14T17:00:00+02:00","id":"CS4856CED93FC6825284C428A","lineItems":[{"amountExcludingTax":1000,"amountIncludingTax":1000,"description":"Product
        21211","id":"1","quantity":1,"sku":"SKU-2","taxAmount":0,"taxPercentage":0}],"merchantAccount":"SpreeCommerceECOM","merchantOrderReference":"R463368842","metadata":{"spree_payment_method_id":"1","spree_order_id":"R463368842"},"recurringProcessingModel":"UnscheduledCardOnFile","reference":"R463368842_1_1","returnUrl":"http:\/\/www.example.com\/adyen\/payment_sessions\/redirect","shopperInteraction":"Ecommerce","shopperLocale":"en-US","shopperName":{"firstName":"John","lastName":"Doe"},"shopperReference":"guest_R463368842","storePaymentMethodMode":"enabled","mode":"embedded","sessionData":"Ab02b4c0!BQABAgAtjDO\/8XVHlXDw0JICr76SQ5BcI9ASXnBRMZDSrbic5XXmuC+RUmTC2ctyi4qnd4oEFo0tgY\/tbUPMJ6SMYjaw53V5ewEKJ3Hq0gspd\/GWn4nsRkfsRxyhfsN13tN1+5tIU4b+DgEXHSksjObj1xqCiDUiM0eX8UVKpxK6ws0u6J\/kEqtw5\/ud0W+HbV68+x55EJLbzAPpIFjA9766K6BIz+ukoaL7IDyG6lr+6VL7VD8sBisktG9B5ba6bJ45mtqEhYd1h3iHpWUXfb7q42PBEg\/mIUYSf7XSZ52\/B9yrOewSdfLtW5hny1ZP0PSOs5dI3VtNUQxABbO9IS6ctltAqlkcrVbSnb\/jTvdFzfiFFwKKVvi30BKvjIN36\/f+kWwv8sZ\/WgOZbqNZ9bpEBR7D97YI+M+Y2ey1H7\/8E+saDpyrJ\/xQcOFiI1cDKaPYezOsM\/Cgf2EcwHSh3n8UXDR9f[...]
