---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/sessions
    body:
      encoding: UTF-8
      string: '{"metadata":{"spree_payment_method_id":1,"spree_order_id":"R172706893"},"amount":{"value":10000,"currency":"USD"},"returnUrl":"http://www.example.com/adyen/payment_sessions/redirect","reference":"R172706893_1_1","countryCode":"US","lineItems":[{"amountExcludingTax":1000,"amountIncludingTax":1000,"description":"Product
        29668","id":1,"sku":"SKU-2","quantity":1}],"merchantAccount":"SpreeCommerceECOM","merchantOrderReference":"R172706893","expiresAt":"2025-08-25T14:42:52Z","shopperName":{"firstName":"John","lastName":"Doe"},"shopperEmail":"john.doe@example.com","shopperReference":"customer_1","recurringProcessingModel":"UnscheduledCardOnFile","shopperInteraction":"Ecommerce","storePaymentMethodMode":"enabled","channel":"Web","applicationInfo":{"externalPlatform":{"name":"Spree
        Commerce","version":"42.0.0","integrator":"Spree Adyen"}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<ADYEN_API_KEY>"
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Pspreference:
      - ADYEN_PSP_REFERENCE
    body:
      encoding: UTF-8
      string: '{"amount":{"currency":"USD","value":10000},"applicationInfo":{"externalPlatform":{"name":"Spree
        Commerce","version":"42.0.0","integrator":"Spree Adyen"}},"channel":"Web","countryCode":"US","expiresAt":"2025-08-25T16:42:52+02:00","id":"CS2BD6B9B093D32284D8EB223","lineItems":[{"amountExcludingTax":1000,"amountIncludingTax":1000,"description":"Product
        29668","id":"1","quantity":1,"sku":"SKU-2","taxAmount":0,"taxPercentage":0}],"merchantAccount":"SpreeCommerceECOM","merchantOrderReference":"R172706893","metadata":{"spree_payment_method_id":"1","spree_order_id":"R172706893"},"recurringProcessingModel":"UnscheduledCardOnFile","reference":"R172706893_1_1","returnUrl":"http:\/\/www.example.com\/adyen\/payment_sessions\/redirect","shopperEmail":"john.doe@example.com","shopperInteraction":"Ecommerce","shopperLocale":"en-US","shopperName":{"firstName":"John","lastName":"Doe"},"shopperReference":"customer_1","storePaymentMethodMode":"enabled","mode":"embedded","sessionData":"Ab02b4c0!BQABAgADIrCHW7NdN5FQw+6ycqHz\/cdBnrwmlVRtAtHtHmqZZc7eqW7\/0mTvZ5wPVrak8wgADfYQe0XdtdlaOVAWpCDHqczZ5qtZDkRahwuxypNmgjo+yBYJnfLYddHzKkoi\/VOhUusRK5iqYjF20ECstK\/rjqIEh0hZV7Jr88f0SiEePCkyiMsMvo09BmElGFJqV3KUBWoQJGOUAWtSs1mzhSw4eSHgc36QW\/2YKAMkxdG6ChHJkmIxO3AkVf6tGWF5VZ+IBZ6179EgTLDqb85HMRwjrq9Lfa34lUOCY7fi763FxClIKticJIoD+63tvGTxVGNnmN0yCeJbnUMhHaU6n2JZ+anYLfy69agjEne6Qjm7QBo5dOHBe19AbHsK\/nbiUKUHYxbRszP45bhpTZOnqYNND+QGpKYWSg85BXRUIXIad5\/+aXXSGv\/jDwuFTBDKaYtmZtQ1I+s3oPnKC\/kUL0JGLSh37[...]
