---
http_interactions:
- request:
    method: post
    uri: https://management-test.adyen.com/v3/merchants/SpreeCommerceECOM/webhooks/1234567890/test
    body:
      encoding: UTF-8
      string: '{"types":["AUTHORISATION"]}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - ADYEN_API_KEY
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 422
      message: Unprocessable Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"type":"https:\/\/docs.adyen.com\/errors\/validation","title":"Invalid
        webhook information provided.","status":422,"requestId":"eaac7fb9-e505-651a-7d4c-36708e2adf44_2-QGW9CQNK4FZ28222","invalidFields":[],"errorCode":"31_003"}'
  recorded_at: Mon, 25 Aug 2025 09:53:30 GMT
recorded_with: VCR 6.3.1
