<div class="alert alert-info">
  <div>
    Please follow
    <%= external_link_to 'how to configure Adyen payment method in Spree Commerce guide', 'https://spreecommerce.org/docs/integrations/payments/adyen', class: 'alert-link' %>.
  </div>
</div>

<div class="alert alert-info">
  <div>
    <strong>Live URL Prefix</strong> is required for live payments. You can find it in your
    <%= external_link_to 'Adyen Customer Area', 'https://ca-live.adyen.com', class: 'alert-link' %>
    under Developers > API URLs > Prefix.
  </div>
</div>
