---
http_interactions:
- request:
    method: get
    uri: https://management-test.adyen.com/v3/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "ADYEN_API_KEY"
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"type":"https:\/\/docs.adyen.com\/errors\/unauthorized","title":"Unauthorized","status":401,"errorCode":"00_401"}'
  recorded_at: Thu, 14 Aug 2025 09:23:38 GMT
recorded_with: VCR 6.3.1
