---
http_interactions:
- request:
    method: get
    uri: https://management-test.adyen.com/v3/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - ADYEN_API_KEY
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"CRED42CLS22322945MZF5ZNDQ26BBP","username":"ADYEN_USERNAME","description":"testing
        auto-configure","clientKey":"ADYEN_CLIENT_KEY","allowedIpAddresses":[],"roles":["Management
        API - Accounts read","Management API - Webhooks read","Cloud Device API role","Management
        API - API credentials read and write","Management API - Stores read","Management
        API — Payment methods read","Allow SDK download for POS developers","API Clientside
        Encryption Payments role","Management API - Stores read and write","Management
        API - Webhooks read and write","Checkout encrypted cardholder data","Merchant
        Recurring role","Data Protection API","Management API - Payout Account Settings
        Read","Checkout webservice role","Management API - Accounts read and write","Merchant
        PAL Webservice role"],"active":true,"_links":{"self":{"href":"https:\/\/management-test.adyen.com\/v3\/me"},"allowedOrigins":{"href":"https:\/\/management-test.adyen.com\/v3\/me\/allowedOrigins"}},"associatedMerchantAccounts":["SpreeCommerceECOM"],"companyName":"SpreeCommerce"}'
  recorded_at: Thu, 14 Aug 2025 11:03:40 GMT
- request:
    method: post
    uri: https://management-test.adyen.com/v3/merchants/SpreeCommerceECOM/webhooks/WBHK42CLX22322945MWKG7R6LH0000/test
    body:
      encoding: UTF-8
      string: '{"types":["AUTHORISATION"]}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - ADYEN_API_KEY
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"output":"Event delivered successfully!","requestSent":"{\"live\":\"false\",\"notificationItems\":[{\"NotificationRequestItem\":{\"additionalData\":{\"expiryDate\":\"12\\/2012\",\"authCode\":\"1234\",\"cardSummary\":\"7777\",\"totalFraudScore\":\"10\",\"hmacSignature\":\"ZmFrZV9zaWduYXR1cmU=\",\"NAME2\":\"VALUE2\",\"NAME1\":\"VALUE1\",\"fraudCheck-6-ShopperIpUsage\":\"10\"},\"amount\":{\"currency\":\"EUR\",\"value\":10100},\"eventCode\":\"AUTHORISATION\",\"eventDate\":\"2025-08-25T13:41:59+02:00\",\"merchantAccountCode\":\"SpreeCommerceECOM\",\"merchantReference\":\"8313842560770001\",\"operations\":[\"CANCEL\",\"CAPTURE\",\"REFUND\"],\"paymentMethod\":\"visa\",\"pspReference\":\"ADYEN_PSP_REFERENCE\",\"reason\":\"1234:7777:12\\/2012\",\"success\":\"true\"}}]}","responseCode":"200","responseTime":"5139 ms","status":"success"}]}'
  recorded_at: Thu, 14 Aug 2025 11:03:41 GMT
- request:
    method: post
    uri: https://management-test.adyen.com/v3/me/allowedOrigins
    body:
      encoding: UTF-8
      string: '{"domain":"https://c33e96aee20a.ngrok-free.app"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - ADYEN_API_KEY
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"S2-73203828494D4E6A6269573D7C763A4074476E304E2B40663F664628423C662A717C70453F385F31256C72","domain":"https:\/\/c33e96aee20a.ngrok-free.app","_links":{"self":{"href":"https:\/\/management-test.adyen.com\/v3\/me\/allowedOrigins\/S2-73203828494D4E6A6269573D7C763A4074476E304E2B40663F664628423C662A717C70453F385F31256C72"}}}'
  recorded_at: Fri, 22 Aug 2025 14:22:02 GMT
- request:
    method: post
    uri: https://management-test.adyen.com/v3/me/allowedOrigins
    body:
      encoding: UTF-8
      string: '{"domain":"https://foo.store.example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - ADYEN_API_KEY
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 422
      message: Unprocessable Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"type":"https:\/\/docs.adyen.com\/errors\/validation","title":"Invalid
        allowed origin information provided.","status":422,"requestId":"a64b1184-d443-0295-22c3-78a543f63807_0-RFTCX46H4FZ28222","invalidFields":[{"name":"domain","value":"https:\/\/foo.store.example.com","message":"Origin
        already exists"}],"errorCode":"31_004"}'
  recorded_at: Fri, 22 Aug 2025 14:22:07 GMT
- request:
    method: post
    uri: https://management-test.adyen.com/v3/me/allowedOrigins
    body:
      encoding: UTF-8
      string: '{"domain":"https://bar.store.example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - ADYEN_API_KEY
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 422
      message: Unprocessable Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"type":"https:\/\/docs.adyen.com\/errors\/validation","title":"Invalid
        allowed origin information provided.","status":422,"requestId":"76fd3fc8-b604-0193-34c7-26e9c493de85_1-F7VCX46H4FZ28222","invalidFields":[{"name":"domain","value":"https:\/\/bar.store.example.com","message":"Origin
        already exists"}],"errorCode":"31_004"}'
  recorded_at: Fri, 22 Aug 2025 14:22:07 GMT
recorded_with: VCR 6.3.1
